/* #nav-bar { */
/*   /* customize this value. */ */
/*   /* --navbar-margin: -44px; */ */
/*   display: none; */
/**/
/*   /* margin-top: var(--navbar-margin); */ */
/*   /* margin-bottom: 0; */ */
/*   /* z-index: -100; */ */
/*   transition: all 0.3s ease !important; */
/*   /* opacity: 0; */ */
/*   /* background-color: rgba(0,0,0,0.8) !important; */ */
/* } */
/**/
/* #navigator-toolbox:focus-within > #nav-bar, #navigator-toolbox:hover > #nav-bar { */
/*     display: inline-block; */
/*   /* margin-top: 0; */ */
/*   /* margin-bottom: var(--navbar-margin); */ */
/*   z-index: 100; */
/*   /* opacity: 1; */ */
/* } */

:root {
    --urlbar-height-setting: 24px;
    --tab-min-height: 16px !important;

}

#nav-bar,
#urlbar {
  transform: translateY(calc(0px - var(--urlbar-height-setting)));
  opacity: 0;
}
#navigator-toolbox {
  min-height: var(--tab-min-height) !important;
  height: var(--tab-min-height) !important;
}
#navigator-toolbox:focus-within {
  min-height: calc(var(--urlbar-height-setting) + var(--tab-min-height)) !important;
  height: calc(var(--urlbar-height-setting) + var(--tab-min-height)) !important;
  transform: translateY(calc(0px - var(--tab-min-height)));
}
#TabsToolbar {
  transform: translateY(var(--tab-min-height));
}
#nav-bar:focus-within {
  transform: translateY(var(--tab-min-height));
  opacity: 1;
}
#urlbar:focus-within {
  transform: translateY(0);
  opacity: 1;
}
